.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background-image: url("../assets/background.jpg");
  background-color: #e99a7e;
  background-position: center;
  background-size: contain;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 40px;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 15px;
}

.card {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 15px;
  background-color: #f09974;
  border: 4px solid #674b46;
  padding: 13px;
  border-radius: 10px;
}

$icon-size: 60px;

.card__icon {
  width: $icon-size;
  height: $icon-size;
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3,
  p {
    font-size: 0.8rem;
  }
}

.card-tile__subtitle {
  margin-top: 5px;
}

ul {
  display: flex;
  overflow-y: scroll;
  width: 67vw;
  background-color:#f09974;
  padding: 13px;
  border-radius: 10px;
  li {
    img {
      margin: 0 15px;
      width: $icon-size;
      height: $icon-size;
    }
  }
}

.contact {
  font-size: 1.1rem;
  margin-top: 30px;
}
