<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./sass/base.css" />
    <link rel="stylesheet" href="./sass/index.css" />
    <title>Cabral, Jerwin U.</title>
</head>

<body>
    <div class="container">
        <div class="container--element">
            <nav>
                <h1>Jerwin Urbano Cabral</h1>
                <a href="https://www.facebook.com/profile.php?id=100001030430280"><i class="fab fa-facebook"></i></a>
                <a href="https://github.com/jerwin05"><i class="fab fa-github"></i></a>
            </nav>
            <main>
                <a class="card" href="about.html"><img src="./assets/wild.jpg" alt="" /></a>
                <a class="card" href="projects.html"><img src="./assets/wild.jpg" alt="" /></a>
                <a class="card" href="contact.html"><img src="./assets/wild.jpg" alt="" /></a>
            </main>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>