<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./sass/base.css" />
    <link rel="stylesheet" href="./sass/index.css" />
    <title>Cabral</title>
</head>

<body>
    <h1>Hi, I'm Cabral</h1>
    <h2>What I have done</h2>
    <a href="https://github.com/jerwin05/Municipal_Covid_Tracker">
        <img class="card-icon" src="./assets/municipal_covid_tracker_icon.png" alt="">
        <h3>COVID-19 Tracker for the Municipality of Teresa, Rizal</h3>
        <p>January 17, 2021</p>
    </a>
    <h2>Skills</h2>
    <ul>
        <li>
            <img src="./assets/power-bi.png" alt="Power BI icon">
        </li>
        <li>
            <img src="./assets/git.png" alt="Git icon">
        </li>
        <li>
            <img src="./assets/html5.png" alt="HTML icon">
        </li>
        <li>
            <img src="./assets/css3.png" alt="CSS icon">
        </li>
        <li>
            <img src="./assets/sass.png" alt="Sass icon">
        </li>
        <li>
            <img src="./assets/javascript.png" alt="Javascript icon">
        </li>
        <li>
            <img src="./assets/nodejs.png" alt="node icon">
        </li>
        <li>
            <img src="./assets/npm.png" alt="npm icon">
        </li>
        <li>
            <img src="./assets/express.png" alt="expressjs icon">
        </li>
        <li>
            <img src="./assets/heroku.png" alt="heroku icon">
        </li>
        <li>
            <img src="./assets/mysql.png" alt="mysql icon">
        </li>
    </ul>
    <script src="./js/index.js"></script>
</body>

</html>