<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./sass/base.css" />
    <link rel="stylesheet" href="./sass/index.css" />
    <title>Cabral</title>
</head>

<body>
    <div class="top-container">
        <div class="slide1 top-properties top-animation"></div>
        <div class="slide2 top-properties top-animation"></div>
        <div class="slide3 top-properties top-animation"></div>
        <div class="slide4 top-properties top-animation"></div>
        <div class="slide5 top-properties top-animation"></div>
        <div class="slide6 top-properties top-animation"></div>
        <div class="text-container top-properties ">
            <h1 class="key-text text-color top-animation">Cabral, Jerwin Urbano</h1>
            <p class="key-font-size text-color top-animation">The Portfolio</p>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>

</html>