.top-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.text-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 7;
}

.top-properties {
  height: 100vh;
  width: 100vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
}

.key-text {
  font-size: 1.5em;
  padding-bottom: 0.1em;
  margin: 0 30px;
}

.text-color {
  color: white;
  -webkit-animation-name: text;
          animation-name: text;
}

.key-font-size {
  font-size: .9em;
}

.top-animation {
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: cubic-bezier(40, 40, 40, 40);
          animation-timing-function: cubic-bezier(40, 40, 40, 40);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slide1 {
  background-color: #a8dadc;
  -webkit-animation-name: slide-one;
          animation-name: slide-one;
  z-index: 1;
}

.slide2 {
  background-color: #1d3557;
  -webkit-animation-name: slide-two;
          animation-name: slide-two;
  z-index: 2;
}

.slide3 {
  background-color: #f1faee;
  -webkit-animation-name: slide-three;
          animation-name: slide-three;
  z-index: 3;
}

.slide4 {
  background-color: #457b9d;
  -webkit-animation-name: slide-four;
          animation-name: slide-four;
  z-index: 4;
}

.slide5 {
  background-color: #e63946;
  -webkit-animation-name: slide-five;
          animation-name: slide-five;
  z-index: 5;
}

.slide6 {
  background-color: #a8dadc;
  -webkit-animation-name: slide-six;
          animation-name: slide-six;
  z-index: 6;
}

@-webkit-keyframes slide-one {
  0% {
    width: 100vw;
  }
  20% {
    width: 100vw;
  }
  40% {
    width: 100vw;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes slide-one {
  0% {
    width: 100vw;
  }
  20% {
    width: 100vw;
  }
  40% {
    width: 100vw;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@-webkit-keyframes slide-two {
  0% {
    width: 0;
  }
  20% {
    width: 100vw;
  }
  40% {
    width: 100vw;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes slide-two {
  0% {
    width: 0;
  }
  20% {
    width: 100vw;
  }
  40% {
    width: 100vw;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@-webkit-keyframes slide-three {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 100vw;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes slide-three {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 100vw;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@-webkit-keyframes slide-four {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 0;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes slide-four {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 0;
  }
  60% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@-webkit-keyframes slide-five {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes slide-five {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  80% {
    width: 100vw;
  }
  100% {
    width: 100vw;
  }
}

@-webkit-keyframes slide-six {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  80% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}

@keyframes slide-six {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  80% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}

@-webkit-keyframes text {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: black;
  }
  60% {
    color: white;
  }
  80% {
    color: white;
  }
  100% {
    color: white;
  }
}

@keyframes text {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: black;
  }
  60% {
    color: white;
  }
  80% {
    color: white;
  }
  100% {
    color: white;
  }
}

@media only screen and (min-width: 425px) {
  .key-text {
    font-size: 2em;
  }
  .key-font-size {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 700px) {
  .key-text {
    font-size: 2.5em;
  }
  .key-font-size {
    font-size: 1.4em;
  }
}
/*# sourceMappingURL=index.css.map */