.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}

h2 {
  margin-top: 40px;
}

h2 {
  text-decoration: underline;
  margin-bottom: 15px;
}

.card {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 15px;
}

.card__icon {
  width: 60px;
  height: 60px;
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-tile__subtitle {
  margin-top: 3px;
}

ul {
  display: flex;
  overflow-y: scroll;
  width: 70vw;
  li {
    img {
      margin: 0 30px;
      width: 100px;
      height: 100px;
    }
  }
}
