.top-container {
  display: grid;
  grid-template-columns: 1fr;
}
.text-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 7;
}
.top-properties {
  height: 100vh;
  width: 100vw;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
}
.key-text {
  font-size: 1.5em;
  padding-bottom: 0.1em;
  margin:0 30px;
}
.text-color {
  color: white;
  animation-name: text;
}
.top-animation {
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(40, 40, 40, 40);
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.slide1 {
  background-color: #a8dadc;
  animation-name: slide-one;
  z-index: 1;
}
.slide2 {
  background-color: #1d3557;
  animation-name: slide-two;
  z-index: 2;
}
.slide3 {
  background-color: #f1faee;
  animation-name: slide-three;
  z-index: 3;
}
.slide4 {
  background-color: #457b9d;
  animation-name: slide-four;
  z-index: 4;
}
.slide5 {
  background-color: #e63946;
  animation-name: slide-five;
  z-index: 5;
}
.slide6 {
  background-color: #a8dadc;
  animation-name: slide-six;
  z-index: 6;
}
@keyframes slide-one {
  0% {width: 100vw;}
  20% {width: 100vw;}
  40% {width: 100vw;}
  60% {width: 100vw;}
  80% {width: 100vw;}
  100% {width: 100vw;}
}
@keyframes slide-two {
  0% {width: 0;}
  20% {width: 100vw;}
  40% {width: 100vw;}
  60% {width: 100vw;}
  80% {width: 100vw;}
  100% {width: 100vw;}
}
@keyframes slide-three {
  0% {width: 0;}
  20% {width: 0;}
  40% {width: 100vw;}
  60% {width: 100vw;}
  80% {width: 100vw;}
  100% {width: 100vw;}
}
@keyframes slide-four {
  0% {width: 0;}
  20% {width: 0;}
  40% {width: 0;}
  60% {width: 100vw;}
  80% {width: 100vw;}
  100% {width: 100vw;}
}
@keyframes slide-five {
  0% {width: 0;}
  20% {width: 0;}
  40% {width: 0;}
  60% {width: 0;}
  80% {width: 100vw;}
  100% {width: 100vw;}
}
@keyframes slide-six {
  0% {width: 0;}
  20% {width: 0;}
  40% {width: 0;}
  60% {width: 0;}
  80% {width: 0;}
  100% {width: 100vw;}
}
@keyframes text {
  0% {color: white;}
  20% {color: white;}
  40% {color: black;}
  60% {color: white;}
  80% {color: white;}
  100% {color: white;}
}

@media only screen and (min-width: 425px) {
  .key-text {
    font-size: 2em;
  }
}
@media only screen and (min-width: 700px) {
  .key-text {
    font-size: 2.5em;
  }
}